.container {
    display: flex;
    gap: 60px;
  }

h2 {
font-size: 1.4rem;
font-weight: 600;
margin-top: 2rem;
margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #555;
    font-style: italic;
}

p {
    max-width: 90%;
    text-align: justify;
}

p.footnote {
    text-align: left;
}

.imgs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  /* centers vertically if wrapper has height */
    margin-bottom: 20px; 
}

ol {
    max-width: 80%;
}

ol li::marker {
    color: var(--theme-foreground-alt);
    font-weight: 700;
    line-height: 1.15;
    font-size: 0.83em;
}